---
layout: default
---

<div class="container my-5">
  <div class="row row-eq-height">
    <div class="col-md-6">
      <div class="row row-eq-height">
        <div class="col-lg-6 d-flex align-items-stretch">
          <div class="card card-body border-primary mb-3">
            <h5 class="card-title">윤슬케어</h5>
            <ul class="list-unstyled">
              <li>- <a href="/about">회사소개</a></li>
              <li>- <a href="/plan">운영계획</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-stretch">
          <div class="card card-body border-primary mb-3">
            <h5 class="card-title">사업소개</h5>
            <ul class="list-unstyled">
              <li>- <a href="/projects/medicine-grant">약재지원</a></li>
              <li>- <a href="/projects/living-diary">투병수첩</a></li>
              <li>- <a href="/projects/care-programs">프로그램</a></li>
            </ul>
          </div>
        </div>
      </div>
{% assign partners = site.data.partners %}
      <div class="row row-eq-height">
        <div class="col-lg-6 d-flex align-items-stretch">
          <div class="card card-body border-primary mb-3">
            <h5 class="card-title">협력회사</h5>
            <ul class="list-unstyled">
{% for partner in partners %}
              <li>- <a href="{{ partner.url }}" target="_blank">{{ partner.title  }}</a></li>
{% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-stretch">
          <div class="card card-body border-primary mb-3">
            <h5 class="card-title">문의하기</h5>
            <ul class="list-unstyled">
              <li>서울특별시 마포구 월드컵북로6길 36, 5층</li>
              <li>hello@yunseul-care.com</li>
              <li>fax: +82) 02-6670-0811</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch">
      <div class="card card-body bg-primary text-white mb-3">
        <h5 class="card-title">새소식</h5>
        <ul class="list-unstyled mt-2">
{% assign sorted = site.documents | sort: 'date' | reverse %}
{% for document in sorted limit: 8 %}
          <li class="my-2">[{{ document.collection }}] <a class="text-white" href="{{ document.url }}">{{ document.title }}</a> - {{ document.date }}</li>
{% endfor %}
      </div>
    </div>
  </div>
</div>
