---
layout: default
---

{% assign slides = site.data.home.carousels %}
<div id="slide_banner" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
{% for slide in slides %}
    <li data-target="#slide_banner" data-slide-to="{{ forloop.index0 }}"{% if forloop.first %} class="active"{% endif %}></li>
{% endfor %}
  </ol>
  <div class="carousel-inner">
{% for slide in slides %}
    <div class="carousel-item{% if forloop.first %} active{% endif %}" style="background: url('{{ slide.carouselImages }}') 50%/cover">
      <img src="{{ slide.carouselImages }}" alt="slide image" style="visibility: hidden;">
      <div class="carousel-caption d-none d-md-block">
        <h2>{{ slide.carouselHeader }}</h2>
        <p>{{ slide.carouselDescription }}</p>
      </div>
    </div>
{% endfor %}
  </div>
  <a class="carousel-control-prev" href="#slide_banner" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#slide_banner" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-lg-6">
          <div class="card card-body border-primary mb-3">
            <h5 class="card-title">윤슬케어</h5>
            <ul class="list-unstyled">
              <li>- <a href="/about">회사소개</a></li>
              <li>- <a href="/plan">운영계획</a></li>
              <!-- <li>- <a href="/notices">회사소식</a></li> -->
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card card-body border-primary mb-3">
            <h5 class="card-title">사업소개</h5>
            <ul class="list-unstyled">
              <li>- <a href="/projects/medicine-grant">약재지원</a></li>
              <li>- <a href="/projects/living-diary">투병수첩</a></li>
              <li>- <a href="/projects/care-programs">프로그램</a></li>
            </ul>
          </div>
        </div>
      </div>
{% assign partners = site.data.partners %}
      <div class="row">
        <div class="col-lg-6">
          <div class="card card-body border-primary mb-3">
            <h5 class="card-title">협력회사</h5>
            <ul class="list-unstyled">
{% for partner in partners %}
              <li>- <a href="{{ partner.url }}" target="_blank">{{ partner.title  }}</a></li>
{% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card card-body border-primary mb-3">
            <h5 class="card-title">문의하기</h5>
            <ul class="list-unstyled">
              <li>서울특별시 마포구 월드컵북로6길 36, 5층</li>
              <li>hello@yunseul-care.com</li>
              <li>fax: +82) 02-6670-0811</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-body bg-primary text-white mb-3">
        <h5 class="card-title">새소식</h5>
        <ul class="list-unstyled">
{% for post in site.posts %}
        <p>[{{ post.categories.first }}] <a class="text-white" href="{{ post.url }}">{{ post.title }}</a></p>
{% endfor %}
      </div>
    </div>
  </div>
</div>
