
<div class="footer text-left text-white">
  <div class="container">

    <div class="row">
      <div class="col-md-10">
        <div class="copyright">
          <img src="/logo-white.png" class="logo white mb-3" alt="yunseul care" /><br />
          <address>
            <strong>{{ site.data.site.title }}</strong><br>
            {{ site.data.site.address }}<br>
            {{ site.data.site.byline }}<br>
            {{ site.data.site.copyright }}
          </address>
        </div>
      </div>
      <div class="col-md-2">
        <ul class="links list-inline">
          {% if site.data.site.facebook_url != '' %}
          <li class="list-inline-item">
            <a class="text-white" href="{{ site.data.site.facebook_url }}" target="_blank"><i class="xi-2x xi-facebook"></i></a>
          </li>
          {% endif %}
          {% if site.data.site.instagram_url != '' %}
          <li class="list-inline-item">
            <a class="text-white" href="{{ site.data.site.instagram_url }}" target="_blank"><i class="xi-2x xi-instagram"></i></a>
          </li>
          {% endif %}
          {% if site.data.site.naver_blog_url != '' %}
          <li class="list-inline-item">
            <a class="text-white" href="{{ site.data.site.naver_blog_url }}" target="_blank"><i class="xi-2x xi-naver-square"></i></a>
          </li>
          {% endif %}
        </ul>
        <ul class="list-unstyled">
          <li><a class="text-white" href="/contact">문의하기</a></li>
          <li><a class="text-white" href="/privacy">개인정보처리방침</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
