
<div class="footer text-left text-white">
  <div class="container">

    <div class="row">
      <div class="col-md-10">
        <div class="copyright">
          <img src="/logo-white.png" class="logo white mb-3" alt="yunseul care" /><br />
          <address>
            <strong>주식회사 윤슬케어</strong><br>
            03992 서울특별시 마포구 월드컵북로 6길 36번지 (동교동 203-4), 5층<br>
            사업자등록번호 641-86-01236 | 대표이사 정승훈<br>
            Copyright © YUNSEUL CARE Inc. All rights reserved.
          </address>
        </div>
      </div>
      <div class="col-md-2">
        <ul class="links list-inline">
          <li class="list-inline-item">
            <a class="text-white" href="{{ site.facebook }}" target="_blank"><i class="xi-2x xi-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="text-white" href="{{ site.instagram }}" target="_blank"><i class="xi-2x xi-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="text-white" href="{{ site.naver_blog_rss }}" target="_blank"><i class="xi-2x xi-naver-square"></i></a>
          </li>
        </ul>
        <ul class="list-unstyled">
          <li><a class="text-white" href="/contact">문의하기</a></li>
          <li><a class="text-white" href="/privacy">개인정보처리방침</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<script src="//identity.netlify.com/v1/netlify-identity-widget.js"></script>
