<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light border-bottom box-shadow">
  <div class="container">
    <a class="navbar-brand mr-md-auto" href="/"><img src="/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul id="global-navigation" class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle{% if page.url contains '/about.html' %} active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            윤슬케어
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about">회사소개</a>
            <a class="dropdown-item" href="/plan">운영계획</a>
            <!-- <a class="dropdown-item" href="#">회사소식</a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle{% if page.url contains '/projects' %} active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            사업소개
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/projects/medicine-grant">약재지원</a>
            <a class="dropdown-item" href="/projects/living-diary">투병수첩</a>
            <a class="dropdown-item" href="/projects/care-programs">프로그램</a>
          </div>
        </li>
        <li class="nav-item text-lg-center">
          <a class="nav-link{% if page.url contains '/partners.html' %} active{% endif %}" href="/partners">협력회사</a>
        </li>
        <li class="nav-item text-lg-center">
          <a class="nav-link{% if page.url contains '/contact.html' %} active{% endif %}" href="/contact">문의하기</a>
        </li>
        <li class="nav-item text-lg-center">
          <a class="nav-link{% if page.url contains '/blog' %} active{% endif %}" href="/blog">블로그</a>
        </li>
<!--
        {% unless page.lang %}
        <li class="nav-item text-lg-center">
          <small><a class="nav-link" href="/en{{ page.url }}">English</a></small>
        </li>
        {% endunless %}
        {% if page.lang == 'en' %}
        <li>
          <small><a class="nav-link text-lg-center" href="{{ page.url | replace: '/en/', '/' }}">한글</a></small>
        </li>
        {% endif %}
-->
      </ul>
    </div>
  </div>
</nav>
